{% extends 'main.html' %}
<!DOCTYPE html>
<html>
  <head>
    <title>Rooms</title>
    
  </head>
  <body>
    {% block content %}
    <style>
      .main-container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        gap: 20px;
      }
    </style>

    <div class="main-container">
      <div>
        {% include 'base/sidebar.html' %}
      </div>
      <div>
        {% include 'base/roomsdisplay.html' %}
      </div>
      <div>
        {% include 'base/activity.html' %}
      </div>
    </div>

    {% endblock %}
  </body>
</html>
