{% extends 'main.html'%} 
{%block content%}
<style>
  .parent-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
</style>

<div class="parent-container">
  <div>
    <h1>Room</h1>
    <h2>{{ room.name }}</h2>
    <p>{{ room.description }}</p>

    <div class="comment-div">
      {% include 'base/commentdisplay.html' %}
    </div>

    {% if request.user.is_authenticated%}
    <div class="add-comment">
      <form action="" method="POST">
        {% csrf_token %}
        <input type="text" name="body" placeholder="Enter a comment..." />
      </form>
    </div>
    {%endif%}
  </div>
 
  <div>
    {% include 'base/participants.html' %}
  </div>
</div>

{%endblock%}
