{% extends 'main.html'%} {%block content%}

<h1>Room</h1>
<h2>{{ room.name }}</h2>
<p>{{ room.description }}</p>

<div class="comment-div">
<h3>Comments</h3>
<hr>
{%for message in room_messages%}
<small>@{{message.user}}   {{message.created|timesince}} ago</small>
<p>{{message.body}}</p>
<hr>
{% endfor %}
</div>

{% if request.user.is_authenticated%}
<div class="add-comment">
    <form action="" method="POST">
        {% csrf_token %}
<input type="text" name="body" placeholder="Enter a comment...">
    </form>
</div>
{%endif%}
{%endblock%}
